---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Homepage',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'Moi', href: '#about' },
        { text: 'Parcours', href: '#resume' },
        { text: 'Porfolio', href: '#porfolio' },
        { text: 'Github', href: 'https://github.com/DOSTOYOVSKI' },
      ]}
      
      ]
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="MARTIN Eric"
    tagline="Portfolio"
    
  >
    <Fragment slot="subtitle">
      Ce Portfolio est la réprésentation de mes 2 années de pratiques au sein du BTS SIO. Javascript, C#, python, php, MySQL, sont des technos que je maitrise.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      
    ]}
    image={{
      src: '~/assets/images/youpi.jpg',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Sur moi</h2>
      <p>
        Bienvenue sur ce portfolio, je suis un étudiant en fin de 2ème année au sein du BTS SIO du lycée Chevrollier.
        En développant mes compétences aux fils de ces 8 saisons, j'ai pu apprendre et renforcer des acquis dans le domaine du développement.
      </p>
      <br />
      <p>
        Curieux de nature et motivé, je m'impose une rigueur implaccable sur les nombreux projets qui m'ont été confié. Les étapes de réalisations de A à Z d'un projet sont mes motivations
      </p>
      <br />
      <p>Voici mon parcours:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Etudes"
    items={[
      {
        title:
          'Bac Genéral Option NSI / SES <br /> <span class="font-normal">Lycée Auguste et Jean Renoir, Angers</span> <br /> <span class="text-sm font-normal">2019 - 2022</span>',
        description: `Grace à l'option numérique et sciences informatiques, j'ai pu débuter dans le monde du développement et acquerir les compétences de départ telle que la conception de base de donnée ou encore le langage python `,
        icon: 'tabler:school',
      },
      {
        title:
          'BTS SIO <br /> <span class="font-normal">Lycée Chevrollier, Angers</span> <br /> <span class="text-sm font-normal">2022 - Aujourd`hui</span>',
        description: `J'ai ensuite pu développer mes compétences en code et maintient de solutions informatiques au sein du bts Services Informatiques aux Organisations. Le Javascript, le C# ou encore la gestion de BDD MySql sont les technologies que j'ai pu y apprendre`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <!-- Features3 Widget ************** -->

  

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="Mes Projets"
    subtitle="Voici quelques projets que j'ai pu mener à bien lors de mes 2 années au sein du bts Sio."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          `Projet personnel dans la continuité d'un tp vu en cours sur le framework laravel. Il s'agit d'un site web particulier par l'édition de critique de cinéma en amis`,
      },
      {
        title: 'Role:',
        description:
          `Réalisation complète du cas fictif de demande de ce site web par un tier`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
    
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">Over-React</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          `Une médiatèque formule le besoin de création d'un site web pour la location des divers ressources dont elle dispose par ses clients, ainsi qu'une application lourde pour l'administrer.`,
      },
      {
        title: 'Role:',
        description: `Réalisation de l'application lourde en C# en suivant les directives des users stories formulés`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Poster Image',
    }}
    
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2: <br /><span class="text-2xl">Média-tout</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Refonte du site web e-commerce de la société tactic-shop à Avrillé dans le cadre du stage de 2ème de année`,
      },
      {
        title: 'Role:',
        description: `Développeur web et assistant du web master de la société`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Fashion e-commerce Image',
    }}
    
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">Tactic-shop.com</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  

  <!-- CallToAction Widget *********** -->

  
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
